<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Create new book</a>
<h1>Books</h1>
<form>
    Search by name:
    <input name="searchByName" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.id}"></td>
            <td th:text="${book.name}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.category.name}"></td>
            <td><a th:href="@{/edit/__${book.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete/__${book.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>